{% extends "base.j2" %}
{% block content %}
<div id='calendar'></div>
<script>
  $(function() {

    $('#calendar').fullCalendar({
        header: { center: 'month,listWeek,agendaWeek' },
        views: {
            month: { // name of view
                titleFormat: 'DD MMM YYYY',
                buttonText: 'Month'
            },
            week: { // name of view
                buttonText: 'Week'
            },
            listWeek: {
                buttonText: 'List week'
            }
        },
        defaultView: 'agendaWeek',
        businessHours: {
          // days of week. an array of zero-based day of week integers (0=Sunday)
          {#dow: [ 1, 2, 3, 4, 5 ], // Monday, Tuesday, Wednesday, Thrusday, Friday #}
          dow: [ 1, 2, 3, 5 ], // Monday, Tuesday, Wednesday, Friday

          start: '7:00',
          end: '18:00',
        },
        lazyFetching: true,
        events: 'events.json',
        timeFormat: 'H:mm',
        slotLabelFormat: 'H:mm',
        timezone: 'local',
        nowIndicator: true
    });

  });
</script>
{% endblock %}